.links-sidebar {
  font-family: arial;
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
}

.links-sidebar a {
  display: block;
  text-decoration: none;
  color: #000000; 
  font-size: 16px;
  font-weight: bold;
  padding: 12px 12px 12px; 
}

.links-sidebar a:hover {
  color: #0A96FF; 
}

.links-sidebar .active {
  border-left: 4px solid #0A96FF;
}

.img-burger {
  width: 20px;
  height: 20px;
}
