.container {
  display: block;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: auto;
}
 
.user {
  font-family: arial;
  color: #000000; 
  font-size: 34px;
  font-weight: bold;
  margin: 90px 0 30px 16px;
  overflow: hidden; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.backBtn {
  margin-left: 16px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #0a96ff;
  color: white;
  font-weight: bold;
  font-family: arial;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}